/* src/components/HamburgerMenu/HamburgerMenu.module.scss */

.navbar {
  position: relative;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 8px;
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust height for visibility */
}

.line {
  background-color: #ffffff; /* Line color */
  height: 2px; /* Adjust height for visibility */
  transition: all 0.3s ease;
}

.line1 {
  width: 100%;
}

.line2 {
  width: 100%;
}

.line3 {
  width: 100%; /* Make all lines the same width */
}

.hamburger.active .line1 {
  transform: rotate(45deg) translate(6px, 7px);
}

.hamburger.active .line2 {
  opacity: 0; /* Hide the middle line */
}

.hamburger.active .line3 {
  transform: rotate(-45deg) translate(6px, -7px);
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  background-color: #fff; /* Menu background */
  border: 1px solid #ddd; /* Optional border */
  position: absolute;
  top: 100%;
  left: 0;
  width: 150px; /* Adjust as needed */
  z-index: 1;
}

.nav-menu li {
  padding: 10px; /* Space between items */
  text-decoration: none;
}

.nav-menu a {
  text-decoration: none;
  color: #FFFFFF;
}

.nav-menu a:hover {
  //background-color: #f0f0f0; /* Hover effect */
  color: inherit;
}
.nav-menu a:visited {
  color: inherit; /* Use the same color as non-visited links */
}