// Base button styles
.button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

// Primary button variant
.primary {
  background-color: #ee9281; // Primary color
  color: #fff;
  font-family: "Raleway", sans-serif;
  &:hover {
    background-color: #f3aa9f;
  }
}

// Secondary button variant
.secondary {
  background-color: #6c757d; // Secondary color
  color: #fff;

  &:hover {
    background-color: #5a6268;
  }
}
