/* src/components/HamburgerMenu/HamburgerMenu.module.scss */

.navbar {
  position: absolute;
}
.navbar.active {
  background-color: rgb(236 144 127 / 93%);
}
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 8px;
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust height for visibility */
}

.line {
  background-color: #ffffff; /* Line color */
  height: 2px; /* Adjust height for visibility */
  transition: all 0.3s ease;
}

.line1 {
  width: 100%;
}

.line2 {
  width: 100%;
}

.line3 {
  width: 100%; /* Make all lines the same width */
}

.hamburger.active .line1 {
  transform: rotate(45deg) translate(6px, 7px);
}

.hamburger.active .line2 {
  opacity: 0; /* Hide the middle line */
}

.hamburger.active .line3 {
  transform: rotate(-45deg) translate(6px, -7px);
}

.nav-menu {
  //background-color: rgb(236 144 127 / 93%);
  width: 168px;
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  //backdrop-filter: invert(1);

  a {
    color: #f0f0f0;
    text-decoration: none;

    &:visited {
      color: #f0f0f0;
    }
    &:hover {
      color: #25262d;
    }
  }
}

.nav-menu li {
  padding: 10px; /* Space between items */
}

