
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0f0f0;

  .quickBioSection {
    padding: 30px 20px;
    color: #ffffff;
    text-align: center;
  }

  .bioTitle {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(29, 30, 37, 0.9);
    padding: 20px;
  }

  .quickBio {
    max-width: 800px; /* Adjust for readability */
    margin: 0 auto; /* Center the content */
    font-family: 'Raleway', sans-serif;

    p {
        font-size: 1.2rem;
        line-height: 1.6; /* Improve readability */
        margin: 15px 0; /* Space between paragraphs */
      background-color: rgba(29, 30, 37, 0.9);
      padding: 20px;

    }
    em {
      font-style: italic; /* Emphasize book titles */
      color: #F69B82; /* Optional color for emphasis */
    }
  }

}